# Home task: pandas 

## Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`


- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`


- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

In [616]:
import pandas as pd
import numpy as np

In [ ]:
def answer_one():
    energy = pd.read_excel("Energy Indicators.xls", skiprows=16, skipfooter=38)

    energy.drop(columns=["Unnamed: 0","Unnamed: 1"],inplace=True)
    
    energy.rename(columns={"Unnamed: 2":"Country","Energy Supply per capita":"Energy Supply per Capita","Renewable Electricity Production":"% Renewable"},inplace=True)

    energy["Energy Supply"] *= 1_000_000

    energy = energy.replace("...", np.nan)

    energy.replace({"Republic of Korea":"South Korea","United Kingdom of Great Britain and Northern Ireland19":"United Kingdom","China, Hong Kong Special Administrative Region3":"Hong Kong","United States of America20":"United States"},inplace=True)

    #\s* removing spaces before parenthesis
    #\( opened parenthesis .(any ch) *?(before) \)(closed parenthesis)
    # | as or 
    # \d (any digit) +(1...many)
    energy["Country"] = energy["Country"].str.replace(r"\s*\(.*\)|\d+", "", regex=True)

    GDP = pd.read_csv("API_NY.GDP.MKTP.CD_DS2_en_csv_v2_76261.csv",skiprows=4)

    GDP.replace({"Korea, Rep.":"South Korea","Iran, Islamic Rep.":"Iran","Hong Kong SAR, China":"Hong Kong"},inplace=True)

    ScimEn = pd.read_excel("scimagojr country rank 1996-2023.xlsx")

    #prep before merging
    GDP.rename(columns={"Country Name": "Country"}, inplace=True)
    cols = ["Country"] + list(GDP.columns[50:60]) 
    GDP = GDP[cols]
    ScimEn = ScimEn.drop(columns="Region").head(15)

    intersection = pd.merge(energy, GDP, on="Country", how="inner")
    intersection = pd.merge(intersection, ScimEn,on="Country", how='inner')

    intersection = intersection.set_index("Country")

    return intersection

answer_one()

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
Australia,5386000000,231,11.81081,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12,14,27993,27254,608021,84747,21.72,234
Brazil,12149000000,59,69.64803,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12,15,27316,26888,307607,71778,11.26,154
Canada,10431000000,296,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,8,41209,40390,915491,142691,22.22,284
China,127191000000,93,19.75491,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13,1,402188,400158,5077232,3511673,12.62,343
France,10597000000,166,17.02028,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12,12,30810,30139,547122,89958,17.76,221
Germany,13261000000,165,17.90153,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12,6,50906,49773,777362,160302,15.27,252
India,33195000000,26,14.96908,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12,3,81853,79757,968523,369256,11.83,237
Iran,9172000000,119,5.707721,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11,11,32080,31725,634135,177894,19.77,198
Italy,6530000000,109,33.66723,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12,9,38700,36909,639473,147302,16.52,209
Japan,18984000000,149,10.23282,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12,4,58342,57735,717946,154848,12.31,228
South Korea,11007000000,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12,10,38362,38046,618762,105419,16.13,198
Russian Federation,30709000000,214,17.28868,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12,7,46186,45868,217996,96688,4.72,112
Spain,4923000000,106,37.96859,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12,13,29840,29156,614087,104845,20.58,216
United Kingdom,7920000000,124,10.60047,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12,5,56288,54713,1095371,179764,19.46,293
United States,90838000000,286,11.57098,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13,2,208042,203356,3540288,1004877,17.02,458

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [618]:
def answer_two():
    Top15 = answer_one()
    Top15["avgGDP"] = Top15.iloc[:, 4:16].mean(axis=1)
    avgGDP = Top15["avgGDP"].sort_values(ascending=False)
    return avgGDP

answer_two()

Country
United States         1.195072e+13
China                 5.543746e+12
Japan                 3.982897e+12
Germany               2.738415e+12
United Kingdom        2.088884e+12
France                2.050178e+12
Italy                 1.630939e+12
Brazil                1.565105e+12
Russian Federation    1.306460e+12
India                 1.256938e+12
Canada                1.237027e+12
Spain                 1.067050e+12
Australia             9.442957e+11
South Korea           9.300053e+11
Iran                  3.584928e+11
Name: avgGDP, dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [619]:
def answer_three():
    Top15 = answer_one()
    Top15["avgGDP"] = answer_two()
    sixth_largest_by_avgGDP = Top15.nlargest(6, "avgGDP").iloc[-1]  
    gdp_change = sixth_largest_by_avgGDP["2015"] - sixth_largest_by_avgGDP["2006"]  
    return float(gdp_change)

answer_three()

124621907951.68018

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [620]:
def answer_four():
    Top15 = answer_one()
    Top15["Ratio"] = Top15["Self-citations"] / Top15["Citations"]

    highest_ratio_row = Top15["Ratio"].idxmax()
    highest_ratio = Top15.loc[highest_ratio_row,"Ratio"]

    return (highest_ratio_row, float(highest_ratio))

answer_four()

('China', 0.6916510807463594)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [621]:
def answer_five():
    Top15 = answer_one()
    Top15["Population"] = Top15["Energy Supply"] / Top15["Energy Supply per Capita"]
    third_biggest_estimate = Top15["Population"].sort_values().index[-3]
    return third_biggest_estimate

answer_five()

'United States'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [622]:
def answer_six():
    Top15 = answer_one()
    doc_energy_corr =  Top15.corr()["Citable documents"].iloc[1]
    return float(doc_energy_corr)

answer_six()

-0.05931934689722826

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [623]:
def answer_seven():
    Top15 = answer_one()  
    ContinentDict = {
        'China': 'Asia',
        'United States': 'North America',
        'Japan': 'Asia',
        'United Kingdom': 'Europe',
        'Russian Federation': 'Europe',
        'Canada': 'North America',
        'Germany': 'Europe',
        'India': 'Asia',
        'France': 'Europe',
        'South Korea': 'Asia',
        'Italy': 'Europe',
        'Spain': 'Europe',
        'Iran': 'Asia',
        'Australia': 'Australia',
        'Brazil': 'South America'
    }

    Top15["Population"] = Top15["Energy Supply"] / Top15["Energy Supply per Capita"]
    Top15["Continent"] = Top15.index.map(ContinentDict)
    
    grouped = Top15.groupby('Continent')['Population'].agg(["size", "sum", "mean", "std"])
    
    return grouped

answer_seven()

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            6  457929667.216372   76321611.202729  3.464767e+07
North America     2   352855249.48025  176427624.740125  1.996696e+08
South America     1  205915254.237288  205915254.237288           NaN